.publications {
  text-align: center;
  font-family: monospace;
  padding-bottom: 2%;
  background: rgb(207, 202, 157);
  background: radial-gradient(
    circle,
    rgba(207, 202, 157, 1) 0%,
    rgba(189, 189, 54, 1) 100%
  );
}
.postRender {
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  margin: 2% 25% 2% 25%;
  padding: 3%;
  background-color: white;
}
.postRender h3 {
  text-decoration: underline;
}
#createPost {
  align-self: center;
  background-color: black;
  font-family: fantasy;
  border-style: none;
  color: yellow;
  font-size: large;
}
.postRender button {
  background-color: black;
  color: yellow;
  font-family: fantasy;
  border-style: none;
  margin: 1% 0;
  font-size: medium;
}
.postRender textarea {
  align-self: center;
}

#showComments {
  align-self: center;
  margin: 3%;
}
