.userInfo,
.userTitle {
  font-family: monospace;
  margin: 3%;
}
.userInfo {
  font-size: large;
}

.userTitle {
  text-decoration: underline;
}
.modifButton {
  font-family: fantasy;
  background-color: black;
  color: yellow;
  border-style: none;
  font-size: medium;
  padding: 1%;
}
.userWrapper {
  padding-bottom: 45%;
  background: rgb(207, 202, 157);
  background: radial-gradient(
    circle,
    rgba(207, 202, 157, 1) 0%,
    rgba(189, 189, 54, 1) 100%
  );
}

.modifForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 3% 3% 3%;
}
.modifForm button {
  margin: 1%;
}
.modifForm input {
  margin: 1%;
  padding: 1%;
}
