.createProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30%;
  background-color: black;
  background: rgb(207, 202, 157);
  background: radial-gradient(
    circle,
    rgba(207, 202, 157, 1) 0%,
    rgba(189, 189, 54, 1) 100%
  );
  margin-top: -20%;
}
.createProfile h1 {
  font-family: fantasy;
}
.createProfile input {
  padding: 6%;
}
.createProfile button {
  background-color: black;
  color: yellow;
  font-size: large;
  font-family: fantasy;
  align-self: center;
  border: 1px solid yellow;
  padding: 5%;
}
#formContent {
  display: flex;
  flex-direction: column;
  padding: 10% 25%;
  border: 2px solid black;
  background-color: white;
}
#formContent input {
  margin: 3%;
}
#backToLogin {
  font-family: fantasy;
  text-decoration: underline;
}
