.createProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center top;
  padding: 30%;
  background-color: black;
  background: rgb(207, 202, 157);
  background: radial-gradient(
    circle,
    rgba(207, 202, 157, 1) 0%,
    rgba(189, 189, 54, 1) 100%
  );
}
.createProfile h1 {
  font-family: fantasy;
}
.createProfile input {
  padding: 6%;
  border-style: none;
}
.createProfile input[type="Submit"] {
  background-color: black;
  color: yellow;
  font-size: large;
  border-style: none;
  font-family: fantasy;
  align-self: center;
  border: 1px solid yellow;
}
#formContent {
  display: flex;
  flex-direction: column;
}
#formContent input {
  margin: 3%;
}
